body {
    height: 100%;
    width: 100%;
    background-image: url("../img/resized_a.jpg");
    background-size: cover;

}

h1 {
    text-align: center;
    font-size: 10vw !important;
}

button {
    width: 10vw;
    height: 10vw;
    font-size: 4vw !important;
}

#own {
    margin-left: 32.5%;
    font-size: 4vw;
}

#worth {
    margin-left: 42.5%;
    font-size: 4vw;
}