body {
    height: 100%;
    width: 100%;
    background-image: url("../img/resized_a.jpg");
    background-size: cover;

}

h1 {
    text-align: center;
    font-size: 10vw !important;
}

button {
    width: 5vw;
    height: 5vw;
}